/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Display
# Page title
	## Breadcrumb
# Widgets
	## General
	## Search
# Content
	## Container
	## Posts and pages
	## Singles
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size:14px;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.5;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #ffffff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.button, .button:visited,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #3f3f3f #3f3f3f #3d3d3d;
	background: #3a3a3a;
	color: rgba(255, 255, 255, 0.8);
	font-size: 14px;
	font-size: 1rem;
	line-height: 1;
	text-decoration: none;
	padding: 1em 1.5em 1.1em;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	border-color: #df5751 #df5751 #df5751;
	background-color:#df5751;
}

.button:active, .button:focus,
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	transition: border .5s;
	color: #666;
	border: 0;
	background-color:transparent;
	border: 1px solid rgba(0,0,0,0.17);
	border-radius: 0;
	padding: 5px 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	border-color: #3a3a3a;
}

select {
	border: 1px solid #ccc;
	padding:10px 35px 10px 15px;
	outline:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image:url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAPFBMVEUAAAA6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6OjomZi40AAAAE3RSTlMABAYPExQmTHR/gIKDys7o6+/xjg4DFQAAAE9JREFUOE/tyscRwDAMA0E6yjmh/15NDt4cFCDd6x5r1qqm4b56XsGSoROgKgDmBE0fVZgjMa7eUGH21FA9wlApYza62oQJtSridQq06uwHevIDX9jgZMoAAAAASUVORK5CYII= );
	background-repeat:no-repeat;
	background-position:right center;
}
select:after{
	content:"\f107";
	display:block;
	font-family:FontAwesome;
}

textarea {
	width: 100%;
	padding:10px;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color:#df5751;
}

a:visited {
	color:#df5751;
}

a:hover, a:focus, a:active {
	color:#df5751;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul li.ifs-right-orientation > ul li:hover ul,
.main-navigation ul li.ifs-right-orientation > ul li.focus ul {
	right:100%;
	left:auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Display
--------------------------------------------------------------*/
.d-none{
	display: none !important;
}

/*--------------------------------------------------------------
# Page title
--------------------------------------------------------------*/
#outerafterheader{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
.page-title{
	color:#000;
	font-weight:400;
	text-transform: uppercase;
	margin:70px 0px;
	font-size:3em;
}
.page-desc{
	margin-bottom:2.1em;
}
/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
#outerafterheader .woocommerce-breadcrumb{
	margin:30px 0px 0px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
.site-sidebar{
	margin:4em 0;
}

.widget {
	margin: 0 0 3em;
	/* Make sure select elements fit in widgets. */
}

.widget-title {
	font-size:1.2em;
    font-weight: 600;
    margin-bottom: 1em;
    line-height: 1.5;
    letter-spacing: -1px;
}

.widget ul {
    margin: 0;
	padding:0;
    list-style-type: none;
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Search
--------------------------------------------------------------*/
.widget_search .search-form{
	position: relative;
}
.widget_search .search-form>label {
    position: relative;
	display:block;
}

.widget_search .search-field,
.widget_search .search-field:focus {
    width: 100%;
    padding: 16px 45px 16px 15px;
}

.widget_search .search-form .search-field {
    background: #fafafa;
    border-width: 1px;
    border-color: #eaeaea;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.widget_search .search-form input[type=submit],
.widget_search .search-form input[type=submit]:focus,
.widget_search .search-form input[type=submit]:hover {
    padding: 13px 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
    top: 0;
    right: 0;
    position: absolute;
    color: transparent;
    background: 0 0;
    max-width: 45px;
    z-index: 2;
}

.widget_search .search-form:after {
    font-family: "FontAwesome";
    font-size: 1.2em;
    font-weight: 400;
    content: "\f002";
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Container
--------------------------------------------------------------*/
.outercontainer{
	background-color:transparent;
}
body.ifs-content-full-width #content-container{
	max-width:none;
}
body.ifs-content-full-width-no-padding #content-container{
	max-width:none;
	padding:0px;
}
body.ifs-content-full-width-no-padding #content-container > .row{
	margin-left:0;
	margin-right:0;
}
body.ifs-content-full-width-no-padding #content-container > .row > .site-content{
	padding-left:0;
	padding-right:0;
}
.site-content{
	margin:4em 0;
}
#content-container.two-col-left .site-content{
	order: 1;
}
#content-container.two-col-left .site-sidebar{
	order: 2;
}

#content-container.two-col-right .site-content{
	order: 2;
}
#content-container.two-col-right .site-sidebar{
	order: 1;
}

#content-container.three-col-left .site-content{
	order: 1;
}
#content-container.three-col-left .site-sidebar-1{
	order:2;
}
#content-container.three-col-left .site-sidebar-2{
	order:3;
}

#content-container.three-col-mid .site-content{
	order: 2;
}
#content-container.three-col-mid .site-sidebar-1{
	order:1;
}
#content-container.three-col-mid .site-sidebar-2{
	order:3;
}

#content-container.three-col-right .site-content{
	order: 3;
}
#content-container.three-col-right .site-sidebar-1{
	order:1;
}
#content-container.three-col-right .site-sidebar-2{
	order:2;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.hentry.ifs-page-hentry{
	margin-bottom:0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content.ifs-page-content{
	margin-top:0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

article.post{
	background-color:#fff;
	border:0px;
	padding:0px;
}

article.post a,
article.post a:visited{
	color:#df5751;
}

article.post .entry-title a,
article.post .entry-title a:visited{
	color:#333;
}

.hentry .entry-meta > *{
	display:inline-block;
	margin-right:1em;
	font-family:serif;
	font-style:italic;
}

.entry-footer span{
	display:inline-block;
	margin-right:1em;
	font-family:serif;
	font-style:italic;
}

/*--------------------------------------------------------------
## Singles
--------------------------------------------------------------*/
.single-main > .hentry{
	background-color:#fff;
	padding:0px;
	margin-bottom:2em;
}

.single-main > .hentry .entry-title{
	margin-top:0px;
}

.single-main > .comments-area{
	background-color:#fff;
	padding:0;
	margin-bottom:2em;
}

.related-posts-container{
	padding:30px 0;
	border-top:1px solid #f1f2f4;
}

.related-posts-container .related-posts-title{
	margin-bottom:35px;
	text-align:center;
	font-size:1.2858rem;
	font-family:serif;
	font-style:italic;
}

.related-posts-container .content-related{
	padding:0 15px;
	background:none;
}

.related-posts-container .content-related .entry-image{
	margin-bottom:50px;
}

.related-posts-container .content-related .entry-header{
	padding:0 0 30px;
}

.related-posts-container .content-related .entry-title{
	font-size:1em;
	line-height:1.7em;
}

.related-posts-container .content-related:after{
	content:"";
	display:block;
	position:absolute;
	bottom:0px;
	left:15px;
	right:15px;
	height:1px;
	background-color:#000;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area .comments-title{
	margin-bottom:30px;
}
.comment-list{
	margin:0px;
	padding:0px;
	list-style-type: none;
}

.comment-content a {
	word-wrap: break-word;
}

.comment-list .comment-body{
	border-width:0px 0px 1px 0px;
	border-style: solid;
	border-color:#dedede;
	padding:0 0 1.5em 42px;
	margin:0 0 1.5em 0;
	position:relative;
}

.comment-list .comment-avatar{
	display:inline-block;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
}

.comment-list .comment-meta{
	margin-bottom:1em;
}

.comment-list .comment-metadata{
	margin:0.8em 0 0;
}

.bypostauthor {
	display: block;
}

.comment-list .children{
	padding-left:0px;
	margin-left:42px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer{
	background-color:#f0f0f0;
}

.footer-widgets-container{
	padding:50px 0px;
}

.outer-footer-bottom{
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	padding:8px 0px;
}

.site-info{
	font-size:0.8em;
}

.footer-menu #footer-menu{
	list-style-type:none;
	margin:0px;
	padding:0px;
	display:block;
	font-size:0.8em;
}
.foot_col_2 .footer-menu #footer-menu{
	text-align:right;
}
.footer-menu #footer-menu li{
	list-style-type:none;
	display:inline-block;
	padding:0px 10px;
}
.footer-menu #footer-menu li:first-child{
	padding-left:0;
}
.footer-menu #footer-menu li:last-child{
	padding-right:0;
}
